html, body {
    zoom: 90%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: #ffffff;
    width: 1921px;
    min-height: 6488px;
    position: relative;
  }
  
  .home .element-footer-desktop {
    position: absolute;
    width: 1920px;
    height: 565px;
    top: 5923px;
    left: 0;
    background-color: var(--background);
  }
  
  .home .footer-copyright {
    position: absolute;
    width: 1088px;
    height: 24px;
    top: 501px;
    left: 405px;
  }
  
  .home .all-right-reserved {
    position: absolute;
    top: 0;
    left: 855px;
    font-family: var(--paragraph-3-regular-font-family);
    font-weight: var(--paragraph-3-regular-font-weight);
    color: var(--grey);
    font-size: var(--paragraph-3-regular-font-size);
    letter-spacing: var(--paragraph-3-regular-letter-spacing);
    line-height: var(--paragraph-3-regular-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-3-regular-font-style);
  }
  
  .home .terms-of-us-link {
    display: inline-flex;
    height: 24px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 190px;
  }
  
  .home .title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--headline-7-semibold-font-family);
    font-weight: var(--headline-7-semibold-font-weight);
    color: var(--grey);
    font-size: var(--headline-7-semibold-font-size);
    letter-spacing: var(--headline-7-semibold-letter-spacing);
    line-height: var(--headline-7-semibold-line-height);
    white-space: nowrap;
    font-style: var(--headline-7-semibold-font-style);
  }
  
  .home .icon-arrow-right {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .home .privacy-policy-link {
    display: inline-flex;
    height: 24px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .home .line-separator {
    position: absolute;
    width: 1110px;
    height: 1px;
    top: 461px;
    left: 405px;
    object-fit: cover;
  }
  
  .home .social-links {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 324px;
    left: 1260px;
  }
  
  .home .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--headline-6-bold-font-family);
    font-weight: var(--headline-6-bold-font-weight);
    color: var(--black);
    font-size: var(--headline-6-bold-font-size);
    letter-spacing: var(--headline-6-bold-letter-spacing);
    line-height: var(--headline-6-bold-line-height);
    white-space: nowrap;
    font-style: var(--headline-6-bold-font-style);
  }
  
  .home .icons-social-links {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .img {
    position: relative;
    width: 25px;
    height: 25px;
  }
  
  .home .contacts {
    display: flex;
    width: 479px;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    top: 324px;
    left: 405px;
  }
  
  .home .title-phone-email {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .div-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper-2 {
    margin-right: 100px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--paragraph-3-regular-font-family);
    font-weight: var(--paragraph-3-regular-font-weight);
    color: var(--black);
    font-size: var(--paragraph-3-regular-font-size);
    letter-spacing: var(--paragraph-3-regular-letter-spacing);
    line-height: var(--paragraph-3-regular-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-3-regular-font-style);
  }
  
  .home .div-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--headline-7-semibold-font-family);
    font-weight: var(--headline-7-semibold-font-weight);
    color: var(--black);
    font-size: var(--headline-7-semibold-font-size);
    letter-spacing: var(--headline-7-semibold-letter-spacing);
    line-height: var(--headline-7-semibold-line-height);
    white-space: nowrap;
    font-style: var(--headline-7-semibold-font-style);
  }
  
  .home .line-separator-2 {
    position: absolute;
    width: 1110px;
    height: 1px;
    top: 284px;
    left: 405px;
    object-fit: cover;
  }
  
  .home .links {
    position: absolute;
    width: 445px;
    height: 194px;
    top: 50px;
    left: 1070px;
  }
  
  .home .service {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 386px;
  }
  
  .home .div-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .information {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 190px;
  }
  
  .home .about {
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .home .logo-blue {
    width: 150px;
    height: 49px;
    top: 56px;
    left: 405px;
    position: absolute;
    object-fit: cover;
  }
  
  .home .element-subscribe-section {
    position: absolute;
    width: 1920px;
    height: 306px;
    top: 5617px;
    left: 0;
    background-color: var(--primary);
  }
  
  .home .text-field {
    position: absolute;
    width: 445px;
    height: 54px;
    top: 126px;
    left: 1070px;
    background-color: var(--helper-blue3);
    border-radius: 6px;
  }
  
  .home .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 125px;
    height: 54px;
    gap: 12px;
    padding: 11px 46px;
    position: absolute;
    top: 0;
    left: 320px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }
  
  .home .watch-the-demo {
    width: 85px;
    height: 24px;
    margin-left: -.00px;
    margin-right: -26.00px;
    font-family: var(--headline-6-bold-font-family);
    font-weight: var(--headline-6-bold-font-weight);
    color: var(--black);
    font-size: var(--headline-6-bold-font-size);
    text-align: center;
    letter-spacing: var(--headline-6-bold-letter-spacing);
    position: relative;
    line-height: var(--headline-6-bold-line-height);
    white-space: nowrap;
    font-style: var(--headline-6-bold-font-style);
  }
  
  .home .imput {
    display: flex;
    width: 80px;
    position: absolute;
    top: 15px;
    left: 25px;
    align-items: center;
    gap: 2px;
  }
  
  .home .imput-2 {
    display: flex;
    width: 71px;
    position: relative;
    align-items: center;
    gap: 2px;
  }
  
  .home .input-text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--paragraph-3-semibold-font-family);
    font-weight: var(--paragraph-3-semibold-font-weight);
    color: var(--black);
    font-size: var(--paragraph-3-semibold-font-size);
    letter-spacing: var(--paragraph-3-semibold-letter-spacing);
    line-height: var(--paragraph-3-semibold-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-3-semibold-font-style);
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .home .title-description {
    gap: 24px;
    top: 80px;
    left: 405px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .home .h-title {
    position: relative;
    width: 511px;
    margin-top: -1.00px;
    font-family: var(--headline-2-extrabold-font-family);
    font-weight: var(--headline-2-extrabold-font-weight);
    color: #ffffff;
    font-size: var(--headline-2-extrabold-font-size);
    letter-spacing: var(--headline-2-extrabold-letter-spacing);
    line-height: var(--headline-2-extrabold-line-height);
    font-style: var(--headline-2-extrabold-font-style);
  }
  
  .home .description {
    width: 540px;
    color: #ffffff;
    font-size: var(--paragraph-1-regular-font-size);
    letter-spacing: var(--paragraph-1-regular-letter-spacing);
    line-height: var(--paragraph-1-regular-line-height);
    position: relative;
    font-family: var(--paragraph-1-regular-font-family);
    font-weight: var(--paragraph-1-regular-font-weight);
    font-style: var(--paragraph-1-regular-font-style);
  }
  
  .home .element-contact-us {
    position: absolute;
    width: 1920px;
    height: 833px;
    top: 4784px;
    left: 0;
    background-color: var(--background);
  }
  
  .home .form-contact-us {
    position: absolute;
    width: 445px;
    height: 593px;
    top: 120px;
    left: 1070px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: var(--shadow-card-2);
  }
  
  .home .watch-the-demo-wrapper {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 137px;
    gap: 10px;
    padding: 10px 14px;
    position: absolute;
    top: 499px;
    left: 258px;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }
  
  .home .watch-the-demo-2 {
    width: fit-content;
    margin-top: -1.00px;
    font-weight: var(--headline-7-semibold-font-weight);
    color: #ffffff;
    font-size: var(--headline-7-semibold-font-size);
    letter-spacing: var(--headline-7-semibold-letter-spacing);
    position: relative;
    font-family: var(--headline-7-semibold-font-family);
    line-height: var(--headline-7-semibold-line-height);
    white-space: nowrap;
    font-style: var(--headline-7-semibold-font-style);
  }
  
  .home .fields {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 120px;
    left: 50px;
  }
  
  .home .div-4 {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 59px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  
  .home .title-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--headline-8-semibold-font-family);
    font-weight: var(--headline-8-semibold-font-weight);
    color: var(--grey);
    font-size: var(--headline-8-semibold-font-size);
    letter-spacing: var(--headline-8-semibold-letter-spacing);
    line-height: var(--headline-8-semibold-line-height);
    white-space: nowrap;
    font-style: var(--headline-8-semibold-font-style);
  }
  
  .home .imput-3 {
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    align-items: center;
    gap: 2px;
  }
  
  .home .input-text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--paragraph-3-semibold-font-family);
    font-weight: var(--paragraph-3-semibold-font-weight);
    color: var(--black);
    font-size: var(--paragraph-3-semibold-font-size);
    letter-spacing: var(--paragraph-3-semibold-letter-spacing);
    line-height: var(--paragraph-3-semibold-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-3-semibold-font-style);
  }
  
  .home .field {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    object-fit: cover;
  }
  
  .home .title-3 {
    position: absolute;
    top: 49px;
    left: 50px;
    font-family: var(--headline-3-extrabold-font-family);
    font-weight: var(--headline-3-extrabold-font-weight);
    color: var(--black);
    font-size: var(--headline-3-extrabold-font-size);
    letter-spacing: var(--headline-3-extrabold-letter-spacing);
    line-height: var(--headline-3-extrabold-line-height);
    white-space: nowrap;
    font-style: var(--headline-3-extrabold-font-style);
  }
  
  .home .contacts-2 {
    display: flex;
    flex-direction: column;
    width: 540px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 448px;
    left: 405px;
  }
  
  .home .div-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .input {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--paragraph-2-regular-font-family);
    font-weight: var(--paragraph-2-regular-font-weight);
    color: var(--grey);
    font-size: var(--paragraph-2-regular-font-size);
    letter-spacing: var(--paragraph-2-regular-letter-spacing);
    line-height: var(--paragraph-2-regular-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-2-regular-font-style);
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .home .email {
    position: relative;
    width: fit-content;
    font-family: var(--paragraph-2-bold-font-family);
    font-weight: var(--paragraph-2-bold-font-weight);
    color: var(--black);
    font-size: var(--paragraph-2-bold-font-size);
    letter-spacing: var(--paragraph-2-bold-letter-spacing);
    line-height: var(--paragraph-2-bold-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-2-bold-font-style);
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .home .title-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--paragraph-2-regular-font-family);
    font-weight: var(--paragraph-2-regular-font-weight);
    color: var(--grey);
    font-size: var(--paragraph-2-regular-font-size);
    letter-spacing: var(--paragraph-2-regular-letter-spacing);
    line-height: var(--paragraph-2-regular-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-2-regular-font-style);
  }
  
  .home .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: var(--paragraph-2-bold-font-family);
    font-weight: var(--paragraph-2-bold-font-weight);
    color: var(--black);
    font-size: var(--paragraph-2-bold-font-size);
    letter-spacing: var(--paragraph-2-bold-letter-spacing);
    line-height: var(--paragraph-2-bold-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-2-bold-font-style);
  }
  
  .home .title-description-2 {
    gap: 24px;
    top: 120px;
    left: 405px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .home .p {
    position: relative;
    width: 540px;
    margin-top: -1.00px;
    font-size: var(--headline-2-extrabold-font-size);
    letter-spacing: var(--headline-2-extrabold-letter-spacing);
    line-height: var(--headline-2-extrabold-line-height);
    font-family: var(--headline-2-extrabold-font-family);
    font-weight: var(--headline-2-extrabold-font-weight);
    color: var(--black);
    font-style: var(--headline-2-extrabold-font-style);
  }
  
  .home .description-2 {
    width: 540px;
    color: var(--grey);
    font-size: var(--paragraph-2-regular-font-size);
    letter-spacing: var(--paragraph-2-regular-letter-spacing);
    line-height: var(--paragraph-2-regular-line-height);
    position: relative;
    font-family: var(--paragraph-2-regular-font-family);
    font-weight: var(--paragraph-2-regular-font-weight);
    font-style: var(--paragraph-2-regular-font-style);
  }
  
  .home .element-company-overview {
    position: absolute;
    width: 1920px;
    height: 244px;
    top: 4540px;
    left: 0;
    background-color: var(--primary);
  }
  
  .home .content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 0px;
    position: relative;
    top: 40px;
    left: 405px;
  }
  
  .home .div-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 48px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper-5 {
    position: relative;
    width: 159px;
    height: 56px;
    margin-top: -1.00px;
    font-family: "Open Sans", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 56px;
    text-align: center;
    letter-spacing: -1.40px;
    line-height: 112px;
    white-space: nowrap;
  }
  
  .home .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-family: var(--paragraph-2-bold-font-family);
    font-weight: var(--paragraph-2-bold-font-weight);
    color: #ffffff;
    font-size: var(--paragraph-2-bold-font-size);
    text-align: center;
    letter-spacing: var(--paragraph-2-bold-letter-spacing);
    line-height: var(--paragraph-2-bold-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-2-bold-font-style);
  }
  
  .home .separator {
    position: relative;
    width: 1px;
    height: 92px;
    object-fit: cover;
  }
  
  .home .element-reviews-section {
    position: absolute;
    width: 1920px;
    height: 729px;
    top: 3811px;
    left: 0;
  }
  
  .home .reviews-cards {
    gap: 30px;
    position: absolute;
    top: 320px;
    left: 405px;
    display: inline-flex;
    align-items: flex-start;
  }
  
  .home .reviews-card {
    flex-direction: column;
    gap: 35px;
    padding: 75px 35px 35px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: var(--shadow-card-3);
    display: inline-flex;
    align-items: flex-start;
  }
  
  .home .element-img-person {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -40px;
    left: 35px;
  }
  
  .home .frame {
    gap: 35px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .description-3 {
    width: 470px;
    margin-top: -1.00px;
    color: var(--grey);
    font-size: var(--paragraph-2-regular-font-size);
    letter-spacing: var(--paragraph-2-regular-letter-spacing);
    line-height: var(--paragraph-2-regular-line-height);
    position: relative;
    font-family: var(--paragraph-2-regular-font-family);
    font-weight: var(--paragraph-2-regular-font-weight);
    font-style: var(--paragraph-2-regular-font-style);
  }
  
  .home .frame-2 {
    gap: 4px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .title-5 {
    position: relative;
    width: fit-content;
    font-family: var(--paragraph-3-regular-font-family);
    font-weight: var(--paragraph-3-regular-font-weight);
    color: var(--grey);
    font-size: var(--paragraph-3-regular-font-size);
    letter-spacing: var(--paragraph-3-regular-letter-spacing);
    line-height: var(--paragraph-3-regular-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-3-regular-font-style);
  }
  
  .home .controls-direction {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 148px;
    left: 1280px;
  }
  
  .home .div-7 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 40px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--tertiary);
    border-radius: 20px;
  }
  
  .home .img-2 {
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  .home .title-6 {
    position: absolute;
    width: 445px;
    top: 99px;
    left: 405px;
    font-size: var(--headline-1-extrabold-font-size);
    letter-spacing: var(--headline-1-extrabold-letter-spacing);
    line-height: var(--headline-1-extrabold-line-height);
    font-family: var(--headline-1-extrabold-font-family);
    font-weight: var(--headline-1-extrabold-font-weight);
    color: var(--black);
    font-style: var(--headline-1-extrabold-font-style);
  }
  
  .home .element-blog-section {
    position: absolute;
    width: 1920px;
    height: 745px;
    top: 3066px;
    left: 0;
    background-color: var(--tertiary);
  }
  
  .home .blog-cards-button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 210px;
    left: 405px;
  }
  
  .home .blog-cards {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .blog-cards-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 30px 35px 45px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: var(--shadow-card-2);
  }
  
  .home .date {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--paragraph-3-regular-font-family);
    font-weight: var(--paragraph-3-regular-font-weight);
    color: var(--grey);
    font-size: var(--paragraph-3-regular-font-size);
    letter-spacing: var(--paragraph-3-regular-letter-spacing);
    line-height: var(--paragraph-3-regular-line-height);
    white-space: nowrap;
    font-style: var(--paragraph-3-regular-font-style);
  }
  
  .home .content-tags {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .title-7 {
    position: relative;
    width: 280px;
    margin-top: -1.00px;
    font-family: var(--headline-4-bold-font-family);
    font-weight: var(--headline-4-bold-font-weight);
  color: var(--black);
  font-size: var(--headline-4-bold-font-size);
  letter-spacing: var(--headline-4-bold-letter-spacing);
  line-height: var(--headline-4-bold-line-height);
  font-style: var(--headline-4-bold-font-style);
  }
  
  .home .description-4 {
    width: 280px;
    color: var(--grey);
    font-size: var(--paragraph-2-regular-font-size);
    letter-spacing: var(--paragraph-2-regular-letter-spacing);
    line-height: var(--paragraph-2-regular-line-height);
    position: relative;
    font-family: var(--paragraph-2-regular-font-family);
    font-weight: var(--paragraph-2-regular-font-weight);
    font-style: var(--paragraph-2-regular-font-style);
  }
  
  .home .tags {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .tag {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 3px 11px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--background);
  }
  
  .home .title-8 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Manrope", Helvetica;
    font-weight: 800;
    color: var(--primary);
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.21px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home .button-2 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 190px;
    height: 54px;
    gap: 12px;
    padding: 11px 46px;
    position: relative;
    background-color: var(--primary);
    box-shadow: var(--shadow-button);
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }
  
  .home .watch-the-demo-3 {
    position: relative;
    width: fit-content;
    font-family: var(--headline-6-bold-font-family);
    font-weight: var(--headline-6-bold-font-weight);
    color: #ffffff;
    font-size: var(--headline-6-bold-font-size);
    letter-spacing: var(--headline-6-bold-letter-spacing);
    line-height: var(--headline-6-bold-line-height);
    white-space: nowrap;
    font-style: var(--headline-6-bold-font-style);
  }
  
  .home .title-9 {
    position: absolute;
    width: 730px;
    top: 99px;
    left: 595px;
    font-size: var(--headline-1-extrabold-font-size);
    text-align: center;
    letter-spacing: var(--headline-1-extrabold-letter-spacing);
    line-height: var(--headline-1-extrabold-line-height);
    font-family: var(--headline-1-extrabold-font-family);
    font-weight: var(--headline-1-extrabold-font-weight);
    color: var(--black);
    font-style: var(--headline-1-extrabold-font-style);
  }
  
  .home .element-features-section {
    position: absolute;
    width: 1920px;
    height: 1390px;
    top: 1676px;
    left: 0;
  }
  
  .home .element-block {
    display: flex;
    width: 1110px;
    align-items: center;
    justify-content: flex-end;
    gap: 95px;
    position: absolute;
    top: 710px;
    left: 405px;
  }
  
  .home .element-llustration {
    position: relative;
    width: 691px;
    height: 590px;
    margin-left: -216.00px;
  }
  
  .home .title-description-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .title-10 {
    position: relative;
    width: 540px;
    margin-top: -1.00px;
    font-size: var(--headline-1-extrabold-font-size);
    letter-spacing: var(--headline-1-extrabold-letter-spacing);
    line-height: var(--headline-1-extrabold-line-height);
    font-family: var(--headline-1-extrabold-font-family);
    font-weight: var(--headline-1-extrabold-font-weight);
    color: var(--black);
    font-style: var(--headline-1-extrabold-font-style);
  }
  
  .home .description-5 {
    width: 540px;
    color: var(--grey);
    font-size: var(--paragraph-1-regular-font-size);
    letter-spacing: var(--paragraph-1-regular-letter-spacing);
    line-height: var(--paragraph-1-regular-line-height);
    position: relative;
    font-family: var(--paragraph-1-regular-font-family);
    font-weight: var(--paragraph-1-regular-font-weight);
    font-style: var(--paragraph-1-regular-font-style);
  }
  
  .home .element-block-2 {
    display: flex;
    width: 1110px;
    align-items: center;
    gap: 95px;
    position: absolute;
    top: 90px;
    left: 405px;
  }
  
  .home .element-illustration {
    position: relative;
    width: 766px;
    height: 590px;
    margin-right: -291.00px;
  }
  
  .home .element-advantages {
    position: absolute;
    width: 1920px;
    height: 852px;
    top: 824px;
    left: 1px;
    background-color: var(--background);
  }
  
  .home .advantages-cards {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 399px;
    left: 404px;
  }
  
  .home .advantages-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: flex-start;
    gap: 30px;
    padding: 46px 35px;
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: var(--shadow-card-2);
  }
  
  .home .icons {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 14px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 12px;
    border: 1px solid;
    border-color: var(--background);
  }
  
  .home .img-3 {
    position: relative;
    width: 42px;
    height: 42px;
  }
  
  .home .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .home .title-11 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--headline-4-bold-font-family);
    font-weight: var(--headline-4-bold-font-weight);
    color: var(--black);
    font-size: var(--headline-4-bold-font-size);
    letter-spacing: var(--headline-4-bold-letter-spacing);
    line-height: var(--headline-4-bold-line-height);
    font-style: var(--headline-4-bold-font-style);
  }
  
  .home .description-6 {
    align-self: stretch;
    color: var(--grey);
    font-size: var(--paragraph-2-regular-font-size);
    letter-spacing: var(--paragraph-2-regular-letter-spacing);
    line-height: var(--paragraph-2-regular-line-height);
    position: relative;
    font-family: var(--paragraph-2-regular-font-family);
    font-weight: var(--paragraph-2-regular-font-weight);
    font-style: var(--paragraph-2-regular-font-style);
  }
  
  .home .title-description-4 {
    gap: 30px;
    top: 100px;
    left: 689px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .home .title-12 {
    position: relative;
    width: 540px;
    margin-top: -1.00px;
    font-size: var(--headline-1-extrabold-font-size);
    text-align: center;
    letter-spacing: var(--headline-1-extrabold-letter-spacing);
    line-height: var(--headline-1-extrabold-line-height);
    font-family: var(--headline-1-extrabold-font-family);
    font-weight: var(--headline-1-extrabold-font-weight);
    color: var(--black);
    font-style: var(--headline-1-extrabold-font-style);
  }
  
  .home .description-7 {
    width: 540px;
    color: var(--grey);
    font-size: var(--paragraph-1-regular-font-size);
    text-align: center;
    letter-spacing: var(--paragraph-1-regular-letter-spacing);
    line-height: var(--paragraph-1-regular-line-height);
    position: relative;
    font-family: var(--paragraph-1-regular-font-family);
    font-weight: var(--paragraph-1-regular-font-weight);
    font-style: var(--paragraph-1-regular-font-style);
  }
  
  .home .element-hero-image {
    position: absolute;
    width: 1919px;
    height: 824px;
    top: 0;
    left: 1px;
  }
  
  .home .line-clients-logos {
    position: absolute;
    width: 1920px;
    height: 132px;
    top: 692px;
    left: -1px;
  }
  
  .home .line-separator-3 {
    position: absolute;
    width: 1920px;
    height: 1px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .home .clients-logos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 405px;
  }
  
  .home .logo {
    position: relative;
    width: 185px;
    height: 132px;
    object-fit: cover;
  }
  
  .home .element-illustration-2 {
    position: absolute;
    width: 845px;
    height: 518px;
    top: 126px;
    left: 974px;
  }
  
  .home .title-description-5 {
    gap: 35px;
    top: 201px;
    left: 404px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .home .buttons {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .button-3 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    gap: 10px;
    padding: 11px 26px;
    position: relative;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }
  
  .home .icon-play-circle {
    position: relative;
    width: 32px;
    height: 32px;
  }
  
  .home .text-wrapper-7 {
    width: fit-content;
    font-weight: var(--headline-6-bold-font-weight);
    color: var(--black);
    font-size: var(--headline-6-bold-font-size);
    letter-spacing: var(--headline-6-bold-letter-spacing);
    position: relative;
    font-family: var(--headline-6-bold-font-family);
    line-height: var(--headline-6-bold-line-height);
    white-space: nowrap;
    font-style: var(--headline-6-bold-font-style);
  }
  
  .home .header-desktop {
    position: absolute;
    width: 1920px;
    height: 126px;
    top: 0;
    left: -1px;
    background-color: #ffffff;
  }
  
  .home .content-2 {
    position: relative;
    width: 1110px;
    height: 46px;
    top: 40px;
    left: 405px;
  }
  
  .home .logo-blue-2 {
    width: 141px;
    height: 46px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .home .menu {
    position: absolute;
    width: 511px;
    height: 24px;
    top: 11px;
    left: 286px;
  }
  
  .home .div-wrapper-2 {
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .home .solutions {
    display: inline-flex;
    flex-direction: column;
    height: 24px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 79px;
  }
  
  .home .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--headline-7-medium-font-family);
    font-weight: var(--headline-7-medium-font-weight);
    color: var(--grey);
    font-size: var(--headline-7-medium-font-size);
    letter-spacing: var(--headline-7-medium-letter-spacing);
    line-height: var(--headline-7-medium-line-height);
    white-space: nowrap;
    font-style: var(--headline-7-medium-font-style);
  }
  
  .home .pages {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    position: absolute;
    top: 0;
    left: 181px;
  }
  
  .home .pages-wrapper {
    display: inline-flex;
    flex-direction: column;
    height: 24px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .icon-chevron-down {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:var(--paragraph-2-bold-font-weight),var(--paragraph-3-semibold-font-weight),800,var(--paragraph-3-regular-font-weight),var(--paragraph-1-regular-font-weight),var(--paragraph-2-regular-font-weight),var(--headline-8-semibold-font-weight)|Manrope:var(--headline-7-medium-font-weight),var(--headline-7-semibold-font-weight),var(--headline-6-bold-font-weight),var(--headline-2-extrabold-font-weight),800,var(--headline-4-bold-font-weight),var(--headline-3-extrabold-font-weight),var(--headline-1-extrabold-font-weight)");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

.home .elements,
.home .blog,
.home .contscts {
  display: inline-flex;
  flex-direction: column;
  height: 24px;
  align-items: flex-start;
  position: relative;
  top: 0;
}

.home .elements {
  left: 280px;
}

.home .blog {
  left: 381px;
}

.home .contscts {
  left: 450px;
}

.home .button-4 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 168px;
  height: 44px;
  gap: 10px;
  padding: 10px 14px;
  position: relative;
  top: -10px;
  left: 650px;
  right: 200px;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.home .icon-play-circle-2 {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: -1px;
}

.home .text-wrapper-9 {
  width: fit-content;
  margin-top: -1px;
  margin-right: -1px;
  font-weight: var(--headline-7-semibold-font-weight);
  color: #ffffff;
  font-size: var(--headline-7-semibold-font-size);
  letter-spacing: var(--headline-7-semibold-letter-spacing);
  position: relative;
  font-family: var(--headline-7-semibold-font-family);
  line-height: var(--headline-7-semibold-line-height);
  white-space: nowrap;
  font-style: var(--headline-7-semibold-font-style);
}

.home .text-wrapper-11 {
  margin-left: -100px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--headline-7-medium-font-family);
  font-weight: var(--headline-7-medium-font-weight);
  color: var(--grey);
  font-size: var(--headline-7-medium-font-size);
  letter-spacing: var(--headline-7-medium-letter-spacing);
  line-height: var(--headline-7-medium-line-height);
  white-space: nowrap;
  font-style: var(--headline-7-medium-font-style);
}
